body {
	margin-left: 20px;
	margin-right: auto;
	padding: 10px;
}
/* 
#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
} */

/* Navigation bar */
li{
	display: inline;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.logo{
	width: 150px;
	height: 150px;
};

.content img{
	width: 50px;
	height: 50px;
};

.form{
	margin: 0 auto;
	width: 210px;
};

.form label{
	display: inline-block;
	text-align: right;
	/*float: left;*/
};

.form input{
	display: inline-block;
	text-align: left;
	/*float: right;*/
};