body {

}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Navigation bar */
li{
	display: inline;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.logo{
	width: 150px;
	height: 150px;
};

img{
	width: 250px;
	height: 150px;
};
