/**************************** BODY *************************/
body{
	/* link for blue color code: https://htmlcolorcodes.com/colors/shades-of-blue/  */
	background-color: #4169E1;
	font-family: Arial;
}

/**************************** NAVIGATION *************************/
.navbar{
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		display:flex
	}
	
.navbar li{
		display:inline-block;
	}
	
.navbar{
		text-decoration: none;
		color: white;
		width: 100px;
		display: flex;
		padding: 15px;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
		transition: 0.4s;
	}

	.logoImg {
	    width: 15%; 
		height: 100px;
		border-radius: 10px;
    	float: left; 
	}

	.navLoginButton {
		background-color: lightgrey;
		border: none;
		color: white;
		padding: 13px 30px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius:10px;
	  }
.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
}

/**************************** FORMS *************************/
/* For Mobile Phones */
@media (max-width:480px) {
	.contact-form, .register-form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

/* For Tablets */
@media (max-width:960px) {
	.contact-form, .register-form  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

/* For Laptops/Desktop */
@media (min-width:1025px) {
	.contact-form, .register-form, .form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}
/*****************************Screen resolutions************/
@media screen and (max-width: 1024px){
	.navbar-nav{
		width: 60%;
	}
}

@media screen and (max-width:768px){
	.navbar-nav{
		position: absolute;
		left: 0px;
		height: 92px;
		top: 8vh;
		display: flex;
		flex-direction: column;
	}
}

input {
	width: 100%;
    padding: 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

 /**************************** Headers *************************/
 .container h1{
	text-align: center;
	font-size:40px;
}

/**************************** CONTAINER *************************/
.container{
	margin: auto;
	width: 50%;	
	padding: 10px;
}

/* sets same height and width for all images */
.gallery img {
	float: left;
	width:  250px;
	height: 250px;
	object-fit: cover;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: (1.1);
}

.pictures{
	margin: 10px 50px; 
}

/* centers lightbox */
.gallery {
	margin: auto;
	width: 60%;	
	padding: 10px;
	}

